/*default styles for tags here*/

html
    height: 100%

body
    background-color: #fff
    font-size: 14px
    line-height: 1.428
    position: relative
    margin: 0;
    min-height: 100%;


p
    font-size: 14px
    line-height: 1.428
    
ul 
    list-style-type: none;
a
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1em;

a:visited
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#551a8b;
    font-size:1em;

a:hover
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    font-size:1em;

a:active
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1em;
    
a:hover
	color:#d73444;



