/*default styles for tags here*/

body
    background-color: #fff
    font-size: 14px
    line-height: 1.428

p
    font-size: 14px
    line-height: 1.428
    
a
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1em;

a:visited
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1em;

a:hover
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1em;

a:active
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1em;
    
a:hover
	color:#d73444;

a.before:before,a.after:after
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;

a.before:before
  top:-0.25em;

a.after:after
  bottom:-0.25em;

a.before:before,a.after:after
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;

