@import 'globalvariables'

for $textColor, $color in $colors
    .background-{$textColor}
        background-color: $color
//comments
for $textColor, $color in $colors
    .complement-background-{$textColor}
        background-color: $color
        color: complement($color)

        