
for i in 1...10
    .center{i*100}
        margin: 0 auto
        width: (i * 100)px
        height: (i * 100)px
        
        
.verticallyCenter
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
.linkSpacing
    margin: 0 3em;