.footer
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(33,33,33);
    z-index: 10000;
    
    
for i in 1...20
    .footer-padding-{i}
        padding-bottom: (i)rem
