.navbarfixed
    top: 0;
    position:fixed;
    width:100%
    ul
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        li
            float: right
            a
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            a:hover
                background-color: #111;
.title
    position: fixed;
    color: white;
    top: 0;
    left: 5px;
    
for i in 1...10
    .navbar-padding-{i}
        padding-top: (i)rem
        
.invisible
    visibility: hidden
    