.leftNeighbors
    float:left;
    
.rightNeighbors
    float:right;
    
.flexContainer
    display: flex;
    width: 100%;

.flexContentA 
    flex: 1;

.flexContentB
    width: 960px;
    
for i in 1...10
    .width-{i}
        width: (i*10)%