@import 'globalvariables'
for $textColor, $color in $colors
    .{$textColor}
        color: $color
for $textColor, $color in $colors
    .complement-text-{$textColor}
        color: $color
        background-color: complement($color)
